---
import { getRelativeLocaleUrl } from 'astro:i18n';

import type { SupportedLocale, NavKey } from '@/types';
import { I18N_CONFIG } from '@/constants/config';

import HeaderLink from './HeaderLink.astro';

interface Props {
  hideNavs?: boolean;
}

type SiteNav = {
  key: NavKey;
  path: string;
}

const { hideNavs = false } = Astro.props;
const locale = (Astro.currentLocale || 'en') as SupportedLocale;
const i18n = I18N_CONFIG[locale];
const getLocaleUrl = getRelativeLocaleUrl.bind(null, locale);

const navs: SiteNav[] = [
  { key: 'home', path: '/' },
  { key: 'projects', path: '/projects' },
  { key: 'contributing', path: '/contributing' },
  { key: 'about', path: '/about' },
];
---

<header>
  <nav class="flex items-center justify-between">
    <h2><a href={getLocaleUrl('/')}>{i18n.site.title}</a></h2>
    {hideNavs !== true ? (
      <div class="internal-links">
        {navs.map(nav => (
          <HeaderLink href={getLocaleUrl(nav.path)}>{i18n.navs[nav.key]}</HeaderLink>
        ))}
      </div>
    ) : (
      <div style="min-height: 78px;"></div>
    )}
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
