---
import { getRelativeLocaleUrl } from 'astro:i18n';

import DefaultLayout from '../entry/layouts/DefaultLayout.astro';
---

<DefaultLayout>
  <p style="text-align: center;">Sorry, only <a href={getRelativeLocaleUrl('zh', '/')}>Chinese version</a> is available for now.</p>
</DefaultLayout>
