---
import { getRelativeLocaleUrl } from 'astro:i18n';

import DefaultLayout from '../entry/layouts/default';
---

<DefaultLayout>
  <div class="max-w-screen-xl mx-auto">
    <p style="text-align: center;">Sorry, only <a href={getRelativeLocaleUrl('zh', '/')}>Chinese version</a> is available for now.</p>
  </div>
</DefaultLayout>
