---
import { ProjectListView } from '~/project';
import DefaultLayout from '#/layouts/default';

const meta = {
  title: 'Projects',
};
---

<DefaultLayout meta={meta}>
  <div class="max-w-screen-xl mx-auto">
    <ProjectListView />
  </div>
</DefaultLayout>
