---
import type { SupportedLocale } from '@/types';

import { getList, getFeaturedList } from '../../repository';
import ProjectCardWidget from '../../widgets/project-card';

const locale = Astro.currentLocale as SupportedLocale;
const total = getList(locale).length;
const projects = getFeaturedList(locale);
const count = projects.length;
---

<div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
  {projects.map((proj, idx) => (
    <ProjectCardWidget
      dataSource={proj}
      showMore={total > count && idx === count - 1}
      client:visible
    />
  ))}
</div>
