---
import { FeaturedListView } from '~/project';

import DefaultLayout from '../default';

import { resolveLocale } from './helper';
import Section from './Section.astro';
import HighlightList from './HighlightList';

const locale = resolveLocale();
---

<DefaultLayout>
  <article class="max-w-screen-xl mx-auto">
    <slot />
    <Section title={locale.highlights}>
      <HighlightList locale={locale} client:visible />
    </Section>
    <Section title={locale.featured} class="mt-16">
      <FeaturedListView />
    </Section>
  </article>
</DefaultLayout>
